@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Hide the plugin notification bar. */
notification[value="plugin-hidden"] {
  display: none !important;
}

/* Hide the tab close button */
.tab-close-button {
	display: none !important;
}

/* Add a keyword when adding a bookmark  */
#editBMPanel_keywordRow, #editBMPanel_descriptionRow, #editBMPanel_locationRow, 
#editBMPanel_loadInSidebarCheckbox {
	visibility: visible; 
}

/* collapse separation between keyword and tags */
#editBMPanel_tagsSelector[collapsed="true"]{
	display:none !important;
}

/* Declutter the bookmarks bar. */
#BMB_bookmarksPopup menuseparator:nth-of-type(-n+4),
#BMB_viewBookmarksSidebar,
#BMB_bookmarksShowAllTop,
#BMB_pocket,
#BMB_pocketSeparator,
#BMB_subscribeToPageMenuitem,
#BMB_subscribeToPageMenupopup,
#BMB_bookmarksToolbar
{ display: none !important; }

/* Hide Bookmark Toolbar text (show icons only) */
#personal-bookmarks .bookmark-item > .toolbarbutton-text { 
	display:none !important;
} 

/* Hide margins at end of each bookmark toolbar icon, and set to 2px */
toolbarbutton.bookmark-item .toolbarbutton-icon {
	margin-inline-end: 0 !important;
	margin:0 2px !important;
}
